<% include('layout') %>

<% ('body') %>
    <h1>All Categories</h1>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <a href="/categories/<%= category.id %>">
                    <%= category.name %>
                </a> - <%= category.description %>
                <form action="/categories/<%= category.id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this category?')">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>

    <a href="/categories/new">Add a new category</a>
<% %>